<% if browser.device.mobile? %>
<style xmlns="http://www.w3.org/1999/html">
  .back-filter{
    padding-right: 20px;
    font-size: 12px;
  }
  .col {
    position: relative;
    float: left;
    display: block;
    width: 100%;
  }
  .filter-close{
    top:-5px;
    right: 10px;
  }
  .filter-para {
    font-size: 12px !important;
    text-align: justify !important;
  }

  .filter-scroll {
    position: absolute;
    width: 96%;
    border: 2px solid gray;
    z-index: 3;
    padding-bottom: 15px;
    display: none;
    right: 0;
    background-color: #fff;
    left: 1.5%;

  }

  .filter-input {
    width: 90%;
    padding: 5px;
    outline: none;
    border: 1px solid #797676;
  }

  .filter-input-30pr {
    position: relative;
    width: 50%;
    display: block;
    float: left;
  }

  .filter-col60-padding {
    padding-top: 10px;
  }

  .filter-checkmark-left {
    left: 4px;
  }

  .filter-span {
    text-align: center;
    display: block;
    position: relative;
    font-size: 12px;
    padding-top: 15px;
  }

  .filter-a {
    border-bottom: 1px solid;
  }

  .col-50-filterpera {
    width: 100%;
    display: block;
    position: relative;
    text-align: left;
    float: left;
  }

  .filter-span-text {
    font-size: 13px;
    padding-left: 10px;
  }

  .role-edit {
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
  }
    .filter-designation{
      font-size: 14px !important;
    }

  .col-60per-new {
    width: 50%;
    display: block;
    position: relative;
    float: left;
    text-align: right;
  }

  .col-40per-new {
    width: 50%;
    display: block;
    position: relative;
    float: left;
  }

  .chip {
    text-align: center;
    border-radius: 5px;
    font-family: Montserrat-Regular;
    outline: none;
    line-height: 25px;
    border: 1px solid gray;
    background-color: transparent;
    color: black;
    margin-left: 5px;
    display: inline-block;
    padding: 0px 9px 0px 4px;
  }

  .chip_btn {
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    pointer-events: none;
    text-align: center;
  }

  .dei_chip {
    cursor: pointer;
    position: relative;
    left: 6px;
    color: gray;
    padding-right: 5px;
  }

  .chips-padd-btm {
    padding-bottom: 15px;
  }

  .chips-padd-btm input {
    outline: none;
    font-family: Montserrat-Regular;
  }

  .border-input {
    border: 1px solid gray;
  }

  .chip-text {
    text-align: justify;
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    line-height: 15px;
    padding: 0;
  }
</style>
<% elsif browser.device.tablet? %>
<style>
  .role-edit {
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
  }
  .col {
    position: relative;
    float: left;
    display: block;
    width: 100%;
  }
  .filter-para {
    font-size: 14px !important;
    text-align: justify;
  }

  .filter-scroll {
    position: absolute;
    width: 92%;
    border: 2px solid gray;
    /* overflow: hidden; */
    z-index: 3;
    left: 0;
    display: none;
    padding: 20px 4% 15px 4%;
    right: 0;
    background-color: #fff;
    right: 30%;
  }

  .filter-input {
    width: 90%;
    padding: 5px;
    outline: none;
    border: 1px solid #797676;
  }

  .filter-input-30pr {
    position: relative;
    width: 50%;
    display: block;
    float: left;
  }

  .filter-col60-padding {
    padding-top: 10px;
  }

  .filter-checkmark-left {
    left: 4px;
  }

  .filter-span {
    text-align: center;
    display: block;
    position: relative;
    font-size: 12px;
    padding-top: 15px;
  }

  .filter-a {
    border-bottom: 1px solid;
  }

  .col-50-filterpera {
    width: 50%;
    display: block;
    position: relative;
    float: left;
  }

  .filter-span-text {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
  }

  .col-60per-new {
    width: 60%;
    display: block;
    text-align: right;
    position: relative;
    float: left;
  }

  .col-40per-new {
    width: 40%;
    display: block;
    position: relative;
    float: left;
  }

  .chip {
    text-align: center;
    border-radius: 5px;
    font-family: Montserrat-Regular;
    outline: none;
    line-height: 25px;
    border: 1px solid gray;
    background-color: transparent;
    color: black;
    margin-left: 5px;
    display: inline-block;
    padding: 0px 9px 0px 4px;
  }

  .chip_btn {
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    pointer-events: none;
    text-align: center;
  }

  .dei_chip {
    cursor: pointer;
    position: relative;
    left: 6px;
    color: gray;
    padding-right: 5px;
  }

  .chips-padd-btm {
    padding-bottom: 15px;
  }

  .chips-padd-btm input {
    outline: none;
    font-family: Montserrat-Regular;
  }
    .border-input{
      border: 1px solid gray;
    }

  .chip-text {
    text-align: justify;
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
</style>
<% else %>
<style>
  .col {
    position: relative;
    float: left;
    display: block;
    width: 100%;
  }

  .filter-para {
    font-size: 12px !important;
    text-align: justify;
  }

  .filter-scroll
  {
    position: absolute;
    width: 90%;
    border: 2px solid gray;
    z-index: 3;
    left: 6px !important;
    display: none;
    padding: 20px 4% 15px 4%;
    right: 0;
    background-color: #fff;
    left: -3%;
    right: 30%;
  }

  .filter-input
  {
    width: 90%;
    padding: 5px;
    outline: none;
    border: 1px solid #797676;
  }

  .filter-input-30pr {
    position: relative;
    width: 50%;
    display: block;
    float: left;
  }

  .filter-col60-padding {
    padding-top: 10px;
  }

  .filter-checkmark-left {
    left: 4px;
  }

  .filter-span {
    text-align: center;
    display: block;
    position: relative;
    font-size: 11px;
    font-family: Montserrat-italic;
    padding-top: 15px;
  }
::placeholder{
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #000000;
}
.cv-input{
  outline: none;
  padding: 2px;
  font-family: Montserrat-Regular;
}
  .filter-a {
    border-bottom: 1px solid;
  }

  .col-50-filterpera {
    width: 50%;
    display: block;
    position: relative;
    float: left;
  }

  .filter-span-text {
    position: relative;
    padding-left: 15px;
    font-size: 14px;
  }

    .role-edit
    {
      cursor: pointer;
      text-decoration: underline;
      font-size: 12px;
      font-family: Montserrat-SemiBold;
    }

  .col-60per-new
  {
    width: 60%;
    display: block;
    position: relative;
    text-align: right;
    float: left;
  }
  .col-40per-new
  {
    width: 40%;
    display: block;
    position: relative;
    float: left;
  }
    .back-filter
    {
      cursor: pointer;
      font-size: 15px !important;
    }

  .chip {
    text-align: center;
    border-radius: 5px;
    font-family: Montserrat-Regular;
    outline: none;
    line-height: 25px;
    border: 1px solid gray;
    background-color: transparent;
    color: black;
    margin-left: 5px;
    display: inline-block;
    padding: 0px 9px 0px 4px;
  }

  .chip_btn {
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    pointer-events: none;
    text-align: center;
  }

  .dei_chip {
    cursor: pointer;
    position: relative;
    left: 6px;
    color: gray;
    padding-right: 5px;
  }
    .chips-padd-btm{
      padding-bottom: 15px;
    }

  .chips-padd-btm  input{
    outline: none;
    font-family: Montserrat-Regular;
  }

  .border-input {
    border: 1px solid gray;
  }
  .chip-text {
    text-align: justify;
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
</style>
  <% end %>
<%= form_tag 'filter_applicants', :id => "filter_form", :method => :post, :remote => true do %>
  <%#= hidden_field_tag 'role_id', @roleid %>
  <%= hidden_field_tag 'app_keys', @app_keys %>
  <%= hidden_field_tag 'role_keys', @role_keys %>

  <div id="filter" class="filter-scroll">
    <div class="sort-padding">
      <div class="role-for" style="text-align: center">
        <span>Role Selected</span>: <span class="filter-designation"><%= @role["role_designation"] %></span>
        (<a class="role-edit" onclick="clearfilter();select_role();">CHANGE</a>)
      </div>
      <div class="col col-40per-new">
        <span class="font-mont sort-para">FILTER BY: </span>
      </div>

      <div class="col col-60per-new">
        <span id="filter1" class="close filter-close" onclick="filter1()">&times;</span>
      </div>



      <div class="col">
        <p class="filter-para font-pop">(Select the options for filtering below. For numerical values, you can
          select tolerance levels for filtering or leave the fields empty for exact matches. Example: if
          required salary range is 10-12 Lakhs, lower tolerance = 1, than all candidate with salaries 9-14 Lakhs
          will be selected. you can also click certain options below for advanced filtering.)</p>
      </div>

      <!--              <div class="col">-->
      <!--                <label class="optlabel">-->
      <!--                  <input type="radio" name="order" value="Ascending" class='radiobtn'>-->
      <!--                  <span class="checkmark less-padd-check"> </span>-->
      <!--                  <span class="sort-span-text font-pop">Ascending</span>-->
      <!--                </label>-->

      <!--                <label class="optlabel">-->
      <!--                  <input type="radio" name="order" value="Descending" class='radiobtn'>-->
      <!--                  <span class="checkmark less-padd-check"> </span>-->
      <!--                  <span class="sort-span-text font-pop">Descending</span>-->
      <!--                </label>-->
      <!--              </div>-->

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox"  class="filters" name="sal" value="{'min'=><%= @role['min_salary'] %>,'max'=><%= @role['max_salary'] %>}">
            <span class="checkmark filter-checkmark-left"> </span>
            <span class="filter-span-text font-pop">Salary <span>(<%= @role['min_salary'] %>
              -<%= @role['max_salary'] %> INR Lakhs)</span></span>
          </label>
        </div>
        <div class="col col-50-filterpera filter-col60-padding">
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="salary-low" placeholder="Lower Tolerance">
          </div>
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="salary-up" placeholder="Upper Tolerance">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="checkcl" value="<%= @role['cl'] %>">
            <span class="checkmark filter-checkmark-left"> </span>
            <span class="filter-span-text font-pop">Career Level <span>(<%= @role['cl'] %>)</span> </span>
          </label></div>
        <div class="col col-50-filterpera filter-col60-padding">
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="cl-low" placeholder="Lower Tolerance">
          </div>
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="cl-up" placeholder="Upper Tolerance">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="exp" value="{'min'=><%= @role['min_experience'] %>,'max'=><%= @role['max_experience'] %>}">
            <span class="checkmark filter-checkmark-left"> </span>
            <span class="filter-span-text font-pop">Years of Experience <span>(<%= @role['min_experience'] %>
              -<%= @role['max_experience'] %>)</span></span>
          </label>
        </div>
        <div class="col col-50-filterpera filter-col60-padding">
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="exp-low" placeholder="Lower Tolerance">
          </div>
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="exp-up" placeholder="Upper Tolerance">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="res" value="imp_score">
            <span class="checkmark filter-checkmark-left"> </span></label>
            <span class="filter-span-text font-pop"><a class="filter-a" onclick="showtab('responses')">Responsibility Score</a> <span>(<%= @role['res_score'] %>
              )</span></span>

        </div>
        <div class="col col-50-filterpera filter-col60-padding">
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="res-low" placeholder="Lower Tolerance">
          </div>
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="res-up" placeholder="Upper Tolerance">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="eff" value="imp_score">
            <span class="checkmark filter-checkmark-left"> </span> </label>
            <span class="filter-span-text font-pop"><a class="filter-a" onclick="showtab('effects')">Effectiveness Score</a> <span>(<%= @role['eff_score'] %>
              )</span></span>

        </div>
        <div class="col col-50-filterpera filter-col60-padding">
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="eff-low" placeholder="Lower Tolerance">
          </div>
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="eff-up" placeholder="Upper Tolerance">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="imp" value="imp_score">
            <span class="checkmark filter-checkmark-left"> </span></label>
            <span class="filter-span-text font-pop"><a class="filter-a" onclick="showtab('impacts')">Impact Score</a><span>(<%= @role['imp_score'].round(2) %>
              )</span></span>

        </div>
        <div class="col col-50-filterpera filter-col60-padding">
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="imp-low" placeholder="Lower Tolerance">
          </div>
          <div class="filter-input-30pr">
            <input type="number" step="any" class="filter-input" name="imp-up" placeholder="Upper Tolerance">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters"name="role_function" value="<%= @role['role_function'].strip %>">
            <span class="checkmark filter-checkmark-left"> </span>
            <span class="filter-span-text font-pop">Function (<%= @role['role_function'].strip %>)</span>
          </label>
        </div>
        <div class="col col-50-filterpera">
          <span class="filter-span font-pop">Will do an exact match</span>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="role_industry" value="<%= @role['role_industry'].strip %>">
            <span class="checkmark filter-checkmark-left"> </span>
            <span class="filter-span-text font-pop">Industry (<%= @role['role_industry'].strip %>)</span>
          </label></div>
        <div class="col col-50-filterpera">
          <span class="filter-span font-pop">Will do an exact match</span>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="deg" value="imp_score">
            <span class="checkmark filter-checkmark-left"> </span> </label>
            <span class="filter-span-text font-pop"><a class="filter-a" onclick="showtab('degree')">Highest Degree</a></span>
         </div>
        <div class="col col-50-filterpera">
          <span class="filter-span font-pop">Will do an exact match with any of the required degrees</span>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="col" value="imp_score">
            <span class="checkmark filter-checkmark-left"> </span> </label>
            <span class="filter-span-text font-pop"><a class="filter-a" onclick="showtab('college')">College</a></span>

        </div>
        <div class="col col-50-filterpera">
          <span class="filter-span font-pop">Will do an exact match with any of the required degrees</span>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="tec" value="imp_score">
            <span class="checkmark filter-checkmark-left"> </span></label>
            <span class="filter-span-text font-pop"><a class="filter-a" onclick="showtab('skill')">Technical Skills</a></span>

        </div>
        <div class="col col-50-filterpera">
          <span class="filter-span font-pop">Will do an exact match with all of the required skills</span>
        </div>
      </div>

      <div class="col">
        <div class="col col-50-filterpera">
          <label class="optlabel">
            <input type="checkbox" class="filters" name="key" value="imp_score">
            <span class="checkmark filter-checkmark-left"> </span></label>
          <span class="filter-span-text font-pop"><a class="filter-a" onclick="showtab('keyword')">CV Keywords</a></span>

        </div>
        <div class="col col-50-filterpera">
          <span class="filter-span font-pop"><input type="text" class="cv-input" name="min_per_out" placeholder="Minimum Percentage Match"></span>
        </div>
      </div>

      <div class="col padding-sort-col-btn ">
        <input type="button"  onclick="submit_form('/corporate/filter_applicants')" class="sort-btn font-pop" name="go" value="GO"/>
        <input type="reset" class="sort-btn font-pop" id="clear_filter" name="RESET" value="CLEAR FILTER" onclick="clearfilter();"/>
      </div>

    </div>

  </div>

  <div id="responses" class="filter-scroll">


    <%#= form_tag(:action => 'filter_applicants', :method => :post, :remote => true) do %>
    <%#= hidden_field_tag 'role_id', @roleid %>
    <%#= hidden_field_tag 'url', '/corporate/summary_report/' + @roleid %>

    <div class="sort-padding">
      <div class="col col-40per-new mob-60para">
        <span class="font-mont sort-para">RESPONSIBILITY SCORE: </span>
      </div>
      <div class=" col-60per-new mob-40para">
        <a class="font-mont sort-para back-filter" onclick="filter2()">BACK</a>
        <span id="filter1" class="close filter-close" onclick="filter2()">&times;</span>
      </div>
      <div class="col">
        <p class="filter-para">(Select all questions for which you would like the candidate's response to
          exactly match the role's requirement )</p>
      </div>

      <div class="sort-padding">

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="response" value="0" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Range of activities performed</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="response" value="1" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Number of direct reports</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="response" value="2" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Range of activities for direct reports</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="response" value="3" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Control on budget</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="response" value="4" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Ambiguity in role and decision making</span>
          </label>
        </div>

        <div class="col padding-sort-col-btn ">
          <input type="button" onclick="filter2();select_checkbox('response');" class="sort-btn font-pop" name="go" value="DONE"/>
        </div>
      </div>
    </div>
    <%# end %>
  </div>

  <div id="effects" class="filter-scroll">


    <%#= form_tag(:action => 'filter_applicants', :method => :post, :remote => true) do %>
    <%#= hidden_field_tag 'role_id', @roleid %>
    <%#= hidden_field_tag 'url', '/corporate/summary_report/' + @roleid %>

    <div class="sort-padding">
      <div class="col col-40per-new mob-60para">
        <span class="font-mont sort-para">EFFECTIVENESS SCORE: </span>
      </div>
      <div class="col col-60per-new mob-40para">
        <a class="font-mont sort-para back-filter" onclick="filter2()">BACK</a>
        <span id="filter1" class="close filter-close" onclick="filter2()">&times;</span>
      </div>
      <div class="col">
        <p class="filter-para">(Select all questions for which you would like the candidate's response to
          exactly match the role's requirement )</p>
      </div>

      <div class="sort-padding">

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="effect" value="5" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Contribution of the role’s function to the company</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="effect" value="6" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Technical competence required for the role</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="effect" value="7" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Teamwork and Leadership</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="effect" value="8" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Problems Solving</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="effect" value="9" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Level of customer orientation required</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="effect" value="10" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Result orientation</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="effect" value="11" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Process Excellence</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="effect" value="12" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Visioning, Strategy & Planning</span>
          </label>
        </div>

        <div class="col padding-sort-col-btn ">
          <input type="button" onclick="filter2();select_checkbox('effect');" class="sort-btn font-pop" name="go" value="DONE"/>
        </div>
      </div>
    </div>
    <%# end %>
  </div>

  <div id="impacts" class="filter-scroll">


    <%#= form_tag(:action => 'filter_applicants', :method => :post, :remote => true) do %>
    <%#= hidden_field_tag 'role_id', @roleid %>
    <%#= hidden_field_tag 'url', '/corporate/summary_report/' + @roleid %>

    <div class="sort-padding">
      <div class="col col-40per-new mob-60para">
        <span class="font-mont sort-para">IMPACT SCORE: </span>
      </div>
      <div class="col col-60per-new mob-40para">
        <a class="font-mont sort-para back-filter" onclick="filter2()">BACK</a>
        <span id="filter1" class="close filter-close" onclick="filter2()">&times;</span>
      </div>
      <div class="col">
        <p class="filter-para">(Select all questions for which you would like the candidate's response to
          exactly match the role's requirement )</p>
      </div>

      <div class="sort-padding">

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="impact" value="13" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Impact on the Environment</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="impact" value="14" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Impact on employees</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="impact" value="15" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Impact on internal business process</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="impact" value="16" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Impact on customers</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="impact" value="17" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Impact on financial health of company</span>
          </label>
        </div>

        <div class="col">
          <label class="optlabel">
            <input type="radio" name="impact" value="18" class='radiobtn'>
            <span class="checkmark"> </span>
            <span class="sort-span-text font-pop">Impact on suppliers and partners</span>
          </label>
        </div>

        <div class="col padding-sort-col-btn ">
          <input type="button" onclick="filter2();select_checkbox('impact');" class="sort-btn font-pop" name="go" value="DONE"/>
        </div>
      </div>
    </div>
    <%# end %>
  </div>

  <div id="degree" class="filter-scroll">


    <%#= form_tag(:action => 'filter_applicants', :method => :post, :remote => true) do %>
    <%#= hidden_field_tag 'role_id', @roleid %>
    <%#= hidden_field_tag 'url', '/corporate/summary_report/' + @roleid %>

    <div class="sort-padding">
      <div class="col col-40per-new mob-60para">
        <span class="font-mont sort-para">HIGHEST DEGREE: </span>
      </div>
      <div class="col col-60per-new mob-40para">
        <a class="font-mont sort-para back-filter" onclick="filter2()">BACK</a>
        <span id="filter1" class="close filter-close" onclick="filter2()">&times;</span>
      </div>
      <div class="col">
        <p class="filter-para">(The following list provides all of the candidates responses. Click all that you
          would like to select.)</p>
      </div>

      <div class="sort-padding">
        <% @degree.each do |degree| %>
          <div class="col">
            <label class="optlabel">
              <input type="checkbox" name="degree[]" value="<%= degree %>" class='radiobtn'>
              <span class="checkmark"> </span>
              <span class="sort-span-text font-pop"><%= degree %></span>
            </label>
          </div>
        <% end %>
        <div class="col padding-sort-col-btn ">
          <input type="button" class="sort-btn font-pop" onclick="filter2();select_checkbox('degree[]');" name="go" value="DONE"/>
        </div>
      </div>
    </div>
    <%# end %>
  </div>

  <div id="college" class="filter-scroll">


    <%#= form_tag(:action => 'filter_applicants', :method => :post, :remote => true) do %>
    <%#= hidden_field_tag 'role_id', @roleid %>
    <%#= hidden_field_tag 'url', '/corporate/summary_report/' + @roleid %>

    <div class="sort-padding">
      <div class="col col-40per-new mob-60para">
        <span class="font-mont sort-para">COLLEGES: </span>
      </div>
      <div class="col col-60per-new mob-40para">
        <a class="font-mont sort-para back-filter" onclick="filter2()">BACK</a>
        <span id="filter1" class="close filter-close" onclick="filter2()">&times;</span>
      </div>
      <div class="col">
        <p class="filter-para">(The following list provides all of the candidates responses. Click all that you
          would like to select.)</p>
      </div>

      <div class="sort-padding">
        <% @college.each do |college| %>
          <div class="col">
            <label class="optlabel">
              <input type="checkbox" name="college[]" value="<%= college %>" class='radiobtn'>
              <span class="checkmark"> </span>
              <span class="sort-span-text font-pop"><%= college %></span>
            </label>
          </div>
        <% end %>
        <div class="col padding-sort-col-btn ">
          <input type="button" class="sort-btn font-pop" onclick="filter2();select_checkbox('college[]');" name="go" value="DONE"/>
        </div>
      </div>
    </div>
    <%# end %>
  </div>

  <div id="skill" class="filter-scroll">


    <%#= form_tag(:action => 'filter_applicants', :method => :post, :remote => true) do %>
    <%#= hidden_field_tag 'role_id', @roleid %>
    <%#= hidden_field_tag 'url', '/corporate/summary_report/' + @roleid %>

    <div class="sort-padding">
      <div class="col col-40per-new mob-60para">

        <span class="font-mont sort-para">TECHNICAL SKILLS: </span>
      </div>
      <div class="col col-60per-new mob-40para">
        <a class="font-mont sort-para back-filter" onclick="filter2()">BACK</a>
        <span id="filter1" class="close filter-close" onclick="filter2()">&times;</span>
      </div>
      <div class="col">
        <p class="filter-para">(The following list provides all of the candidates responses. Click all that you
          would like to select.)</p>
      </div>

      <div class="sort-padding">

        <% if !@skill.nil? && @skill.length <= 10 %>
        <% @skill.each do |skill| %>
          <div class="col">
            <label class="optlabel">
              <input type="checkbox" name="skill[]" value="<%= skill %>" class='radiobtn'>
              <span class="checkmark"> </span>
              <span class="sort-span-text font-pop"><%= skill %></span>
            </label>
          </div>
        <% end %>
        <% elsif !@skill.nil? && @skill.length > 10 %>
        <div class="col chips-padd-btm">
          <label class="optlabel">
            <div id="chips0">

            </div>
            <datalist id="skills">
              <% @skill.each do |value| %>
                <option  value="<%= value.strip %>"></option>
              <% end %>
            </datalist>
            <input type="text" name="skill[]" onkeypress="return create_chip(event,0)" oninput="return create_chip(event,0)" onselect="return create_chip(event,0)" list="skills" id="chip_input0" placeholder="Select Your Skills" class='textbox border-input'>
            <p class="chip-text">(You can enter multiple items by typing in the box above and pressing enter key.)</p>
          </label>
        </div>
<% end %>
        <div class="col padding-sort-col-btn ">
          <input type="button" class="sort-btn font-pop" onclick="filter2();select_checkbox('skill[]');" name="go" value="DONE"/>
        </div>
      </div>
    </div>
    <%# end %>
  </div>

  <div id="keyword" class="filter-scroll">


    <%#= form_tag(:action => 'filter_applicants', :method => :post, :remote => true) do %>
    <%#= hidden_field_tag 'role_id', @roleid %>
    <%#= hidden_field_tag 'url', '/corporate/summary_report/' + @roleid %>

    <div class="sort-padding">
      <div class="col col-40per mob-60para">
        <span class="font-mont sort-para">ADD/DELETE CV KEYWORDS: </span>
      </div>
      <div class="col col-60per mob-40para">
        <a class="font-mont sort-para back-filter" onclick="filter2()">BACK</a>
        <span id="filter1" class="close" onclick="filter2()">&times;</span>
      </div>
      <!--              <div class="col">-->
      <!--                <p class="filter-para">(The following list provides all of the candidates responses. Click all that you-->
      <!--                  would like to select.)</p>-->
      <!--              </div>-->

      <div class="sort-padding">
        <%# if !@skill.nil? && @skill.length <= 10 %>
        <%# @skill.each do |skill| %>
        <!--                    <div class="col">-->
        <!--                      <label class="optlabel">-->
        <!--                        <input type="checkbox" name="skill[]" value="<%#= skill %>" class='radiobtn1'>-->
        <!--                        <span class="checkmark"> </span>-->
        <!--                        <span class="sort-span-text font-pop"><%#= skill %></span>-->
        <!--                      </label>-->
        <!--                    </div>-->
        <%# end %>
        <%# elsif !@skill.nil? && @skill.length > 10 %>
        <% @ind1 = 1 %>
        <div class="col">
          <label class="optlabel">
            <div id="chips<%= @ind1 %>">
              <script>
                  var id = 1;
                  // var count = [1, 1, 1];
              </script>
              <% if !@role.nil? && @role['role_keyword'].present? && @role['role_keyword'].length > 1 %>
                <% for i in 0...@role['role_keyword'].length %>
                  <% if @role['role_keyword'][i] != "" %>
                    <span class="chip" id="del<%= @ind1 %><%= i + 1 %>"><input type="value" id="chip<%= @ind1 %><%= i + 1 %>" name="keyword[]" value="<%= @role['role_keyword'][i] %>" readonly="true" class="chip_btn"><span class="dei_chip" onclick="delete_chip(<%= i+1 %>,<%= @ind1 %>)">x</span></span>
                    <script>

                        document.getElementById('chip' + '<%= @ind1 %>' + '<%= i+1 %>').style.width = ((document.getElementById('chip' + '<%= @ind1 %>' + '<%= i+1 %>').value.length + 1) * 8) + 'px';
                        id = id + 1;
                        count[1] = count[1] + 1;
                    </script>
                  <% end %>
                <% end %>
              <% elsif !@role.nil? && @role['role_keyword'].present? && @role['role_keyword'].length == 1 %>
                <% @role_keyword = @role['role_keyword'][0] %>
                <% %>
              <% end %>

            </div>
          </label>
        </div>
        <div class="col cv-placeholder">
          <input type="text" name="keyword[]" onkeypress="return create_chip(event,1)" onselect="return create_chip(event,1)" oninput="return create_chip(event,1)" list="skills" id="chip_input1" placeholder="CV keyword" class='textbox'>
        </div>
        <div class="col">
          <p class="chip-text cv-chip-text"><i>(Enter keyword above and press enter)</i></p>
        </div>
        <div class="col cv-placeholder">
          <input type="number" name="min_per_in" placeholder="Minimum Percentage Match" min="0" max="100" class='textbox'>
        </div>
        <div class="col padding-sort-col-btn ">
          <input type="button" class="sort-btn font-pop" onclick="filter2();select_checkbox('keyword[]');" name="go" value="GO"/>
        </div>
      </div>
    </div>
    <%# end %>
  </div>
<% end %>
